@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    font-family: "Roboto";
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: 100%;
}

header,
footer,
.main {
    background-color: #1F2937;
    color: #F9FAF8;
}

.main,
.second-section,
.quote-section,
.cta-section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 75px;
}

.main,
.second-section,
.quote-section {
    height: 400px;
}

.second-section {
    flex-direction: column;
}

.img-span {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border: #3882f6 solid;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.attribution {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
}

.quote-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.info-head {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.nav-links,
.hero-secondary {
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.quote-section {
    background-color: #E5E7EB;
}

.icon-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 5px 20px;
    border-radius: 5px;
}