@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    
    font-family: "Roboto";
}

body {
    display: flex;
    flex-direction: column;
}

header,
footer,
.main {
    background-color: #1F2937;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.header-logo {

}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.quote-section {
    background-color: #E5E7EB;
}

.icon-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}